@charset "UTF-8";

body.imag-filmes{
    background-image: url(imagens/background[1].png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

img.imglogo {
    background-color: rgba(0, 0, 0, 0.367);
    padding: 30px;
    border: none;
}
.entrar{
    background-color: rgba(0, 0, 0, 0.656);
    color: white;
    padding: 50px;
    border-radius: 20px;
}

.enviar > button {
    font-size: 23px;
}